@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

/* section {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

.btn {
  color: #fff;
  background: #db6435;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

/* HERO SECTION */
.hero {
  background: url('./images/png/dog-hero.png') no-repeat center bottom;
  background-color: #b6e3fc;

  /* height: 600px;
  background-size: 300px;
  width:cover;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%; */


/* mid 3rd way of creating curve (as deleted vs of curve was TOO curvy), we mysteriously fix the SIGN UP btn... wtf, I'll take it */
    /* position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
/* I just moved this out into "section" above so that might fuck with the SIGN UP btn, let's see. */
/* Totally fucked it up. Putting it back in a chunk at the very end of this ".hero" bit */

    position: relative;
    z-index: 1;
    margin: 0 auto;   
    max-width: 900px;
    text-align: center;

  /* added it back here: */
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #81E4F2, #81E4F3);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
}




.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  color: #fff;
}

.logo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  display: flex;
}

nav li {
  padding: 10px 15px;
}

nav li a:hover {
  border-bottom: 3px #db6435 solid;
}

.content {
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* Products */
.products {
  height: 400px;
}

.products h3 {
  text-align: center;
  margin: 60px auto;
  font-weight: 400;
}

.products__logo {
  width: 20px;
  margin-right: 15px;
}

.products__body {
  display: flex;
  text-align: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 25%;
}

.product div {
  background: #cbe8f8;
  padding: 30px;
}

.product img {
  width: 100%;
  position: relative;
  bottom: 90px;
}

/* ABOUT */
.about-container {
  margin-top: 50px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
}

.image-container {
  background: url('./images/png/dog@2x.png') no-repeat center center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}